<!-- Herencia de Templates -->
{% extends "Proyecto/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido</h1>
        <p class="lead">
           Bienvenido
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Logout</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign in</a>
            <a class="btn btn-primary btn-lg" href="planes" role="button">Ver Planes</a>
            <a class="btn btn-primary btn-lg" href="clientes" role="button">Asociarme</a>          
        </p>
    </div>

{% endblock content %}